[Unit]
Description=Swatchdog Log Monitoring Service
After=network.target syslog.target

[Service]
user=root
Type=forking
ExecStart=/usr/local/bin/swatchdog --config-file=/etc/swatchdog/swatchdogrc --tail-file="/var/log/messages /var/log/auth.log /var/log/syslog /var/log/network.log" --daemon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

